@import url("https://rhythmui.netlify.app/styles.css");
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.avatar-large {
  width: 3rem;
}

.cart .badge-avatar-large-icons {
  height: 1.4rem;
  width: 1.4rem;
  padding: 0.5rem;
  border: 0rem solid var(--badge-white-color);
}

.avatar-badge-icons-cart {
  position: absolute;
  top: 2.3rem;
  right: 0.7rem;
}

.badge-red{
  background-color: var(--badge-white-color);
  color : var(--header-link-color)
}

.avatar-small {
  height: 2.5rem;
  width: 2.5rem;
}



.checkbox{
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 1rem;
  height: 1rem;
  border: 1px solid #c3c2c9;
  background: #fff;
  border-radius: 1px;
  margin-right: 0.8rem;
}

.side-bar {
  top: 10rem;
  min-height: 100%;
}

ul{
  padding: 0rem;
}
ul > li label{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-bar-box{
  /* background-color: var(--primary-color); */
  width: 15rem;
  height: 3rem;
  position: fixed;
  top:7rem;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  border: 0.01rem solid var(--primary-color);
}

.btn{
  padding : 0rem;

  letter-spacing: 0;
}

.bg-red{
  background-color: var(--badge-white-color);
  color: #7C3AED
}
