@import url("https://rhythmui.netlify.app/styles.css");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#navbar .avatar-large {
  width: 3rem;
}

#navbar .cart .badge-avatar-large-icons {
  height: 1.4rem;
  width: 1.4rem;
  padding: 0.5rem;
  border: 0rem solid var(--badge-white-color);
}

#navbar .avatar-badge-icons-cart {
  position: absolute;
  top: 2.3rem;
  right: 0.7rem;
}

#navbar .badge-red {
  background-color: var(--badge-white-color);
  color: var(--header-link-color);
}

#navbar .avatar-small {
  height: 2.5rem;
  width: 2.5rem;
}

/* sidebar */
#side-bar .checkbox {
  width: 1rem;
  height: 1rem;
  border: 1px solid #c3c2c9;
  background: #fff;
  border-radius: 1px;
  margin-right: 0.8rem;
}

.side-bar {
  top: 10rem;
  min-height: 100%;
}

#side-bar ul {
  padding: 0rem;
}

#side-bar ul > li label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#side-bar .side-bar-box {
  /* background-color: var(--primary-color); */
  width: 15rem;
  height: 3rem;
  position: fixed;
  top: 7rem;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  border: 0.01rem solid var(--primary-color);
}

#side-bar .side-bar-box .btn {
  padding: 0rem;
  letter-spacing: 0;
}

#side-bar .side-bar-box .bg-red {
  background-color: var(--badge-white-color);
  color: #7c3aed;
}

#side-bar .side-bar-box .bg-red:focus {
  background: none;
}

/* main */

.content .sort {
  position: absolute;
  top: 1.6rem;
  right: 3rem;
}

/* sort */
.content .search-container > div {
  padding: 0.5rem 0.5rem;
}

.content .search-box {
  width: 17rem;
}

.content .search-box span {
  margin-left: 0.4rem;
}

.content .search-box select {
  background: url("./images/dropdown.svg") no-repeat right;
  -webkit-appearance: none;
}

.content .search-box select {
  width: 11rem;
  padding: 0.3rem;
  font-size: inherit;
  border: none;
  outline: none;
  background-color: inherit;
  font-weight: bold;
}

/* .content .search-box select > option {
  padding: 3rem;
  width: 15rem;
  background-color: #7c3aed;
} */

.content .products {
  position: relative;
  top: 4.5rem;
}

/* card */
#card .btn {
  width: 100%;
}

/* Cart */
#cart .content {
  grid-column: 1 / -1;
  padding-left: 0rem;
  max-width: 80%;
  margin: auto;
}

#cart main {
  border: 2px solid #7c3aed;
  flex-direction: row;
  justify-content: space-between;
  width: 66rem;
  padding: 0rem 0rem;
}

#cart .cartItems {
  width: 75%;
  padding: 1rem;
  border: 1px solid #ccc;
}



#cart .checkout {
  width: 25%;
  padding: 1rem;
  border: 1px solid #ccc;
}

#cart .cartItems .side-bar-box {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  border: 0.01rem solid var(--primary-color);
  margin-bottom: 2rem;
  box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 10%);
  border-radius: 0.5rem;
  padding: 1rem;
}

#cart .card2 {
  align-items: flex-start;
  box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 10%);
  border-radius: 0.5rem;
  padding: 1rem;
}

#cart .card-horizontal .text {
  padding: 0.5rem 1rem;
}

#cart .card-horizontal .text .text-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

#cart .card-horizontal .text .text-header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#cart .floating {
  position: relative;
  right: 0.2rem;
  bottom: 0rem;
  left: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
  font-size :inherit;
  border-radius: 50%;
  outline: none;
  background-color: var(--text-container-color);
  padding: 0rem;
  cursor: pointer;
  z-index: 0;
  color: var(--header-link-color);
  border: 0.1rem solid var(--header-link-color);
  box-shadow: none;
}


#cart .card-horizontal  .quantity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

#cart .card-horizontal .quantity-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 23%;
  text-align: center;
}

#cart .text .btn-container-box {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  /* width: 5rem; */
}

#cart .thumbnail button, .text button, .card-horizontal  .btn-primary {
  background : var(--primary-color);

}

#cart .thumbnail button, .text button, .card-horizontal .btn-secondary {
  background : var(--secondary-color);
}
