@import url("https://rhythmui.netlify.app/styles.css");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#navbar .search-box{
  width: 15rem;
}

#navbar .search-box span input {
width: 12rem;
}

#navbar .avatar-large {
  width: 3rem;
}

#navbar .cart .badge-avatar-large-icons {
  height: 1.4rem;
  width: 1.4rem;
  padding: 0.5rem;
  border: 0rem solid var(--badge-white-color);
}

#navbar .avatar-badge-icons-cart {
  position: absolute;
  top: 2.3rem;
  right: 0.7rem;
}

#navbar .badge-red {
  background-color: var(--badge-white-color);
  color: var(--header-link-color);
}

#navbar .avatar-small {
  height: 2.5rem;
  width: 2.5rem;
}

/* sidebar */
#side-bar .checkbox {
  width: 1rem;
  height: 1rem;
  border: 1px solid #c3c2c9;
  background: #fff;
  border-radius: 1px;
  margin-right: 0.8rem;
}

.side-bar {
  top: 10rem;
  min-height: 100%;
}

#side-bar ul {
  padding: 0rem;
}

#side-bar ul > li label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#side-bar .side-bar-box {
  /* background-color: var(--primary-color); */
  width: 15rem;
  height: 3rem;
  position: fixed;
  top: 7rem;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  border: 0.01rem solid var(--primary-color);
}

#side-bar .side-bar-box .btn {
  padding: 0rem;
  letter-spacing: 0;
}

#side-bar .side-bar-box .bg-red {
  background-color: var(--badge-white-color);
  color: #7c3aed;
}

#side-bar .side-bar-box .bg-red:focus {
  background: none;
}

/* main */

.content .sort {
  position: absolute;
  top: 1.6rem;
  right: 3rem;
}

/* sort */
.content .search-container > div {
  padding: 0.5rem 0.5rem;
}

.content .search-box {
  width: 19rem;
}

.content .search-box span {
  margin-left: 0.4rem;
}

.content .search-box select {
  background: url("./images/dropdown.svg") no-repeat right;
  -webkit-appearance: none;
}

.content .search-box select {
  width: 13rem;
  padding: 0.4rem;
  font-size: inherit;
  border: none;
  outline: none;
  background-color: inherit;
  font-weight: bold;
  cursor: pointer;
}

/* .content .search-box select:hover{

} */

.content .search-box select option {
  padding: 3rem;
  width: 15rem;
  background-color: var(--secondary-color);
  border: 1px solid #fff;
  cursor: pointer;

  /* font-weight: normal;
    display: flex;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px; */
}


.content .products {
  position: relative;
  top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* margin: auto; */
}

.content .products .card {
  box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 10%);
  border-radius: 0.5rem;
  padding: 1rem;
  justify-content: space-between;
  height: 85vh;
}

.content .products .card .heading {
  line-height: 1.1;
}

.content .products .card .wish{
  top: 0rem;
  right: 0rem;
  left: 11rem
}

.content .products .card .text{
}

.content .products .card .thumbnail img {
  max-width: 10rem;
  object-fit: contain;
}

/* card */
#card .btn {
  width: 100%;
}

#card .text {
  padding: 0rem;
}

#card .text .rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.4rem;
}

/* Cart */
#cart .content {
  grid-column: 1 / -1;
  padding-left: 0rem;
  margin: auto;
}

#cart main {
  /* border: 2px solid #fff; */
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0rem 0rem;
}

#cart .cartItems {
  /* width: 72%; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #fff; */
}

#cart .checkout {
  /* width: 28%; */
  padding: 1rem;
  display: flex;

  /* border: 1px solid #fff; */
}

#cart .cartItems .side-bar-box {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  border: 0.01rem solid var(--primary-color);
  margin-bottom: 2rem;
  box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 10%);
  border-radius: 0.5rem;
  padding: 1rem;
}

#cart .card2 {
  align-items: flex-start;
  box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 10%);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

#cart .card-horizontal .text {
  padding: 0.5rem 1rem;
}

#cart .card-horizontal .thumbnail img {
  max-width: 11rem;
}

#cart .card-horizontal .text .text-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cart .card-horizontal .text .text-header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#cart .floating {
  position: relative;
  right: 0.2rem;
  bottom: 0rem;
  left: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
  font-size: inherit;
  border-radius: 50%;
  outline: none;
  background-color: var(--text-container-color);
  padding: 0rem;
  cursor: pointer;
  z-index: 0;
  color: var(--header-link-color);
  border: 0.1rem solid var(--header-link-color);
  box-shadow: none;
}

#cart .card-horizontal .quantity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

#cart .card-horizontal .quantity-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35%;
  /* text-align: center; */
}

#cart .card-horizontal .quantity-buttons span {
  margin: auto;
}

#cart .text .btn-container-box {
  display: flex;
  margin-top: 2.7rem;
}

#cart .text .floating {
  background: transparent;
}

#cart .thumbnail button,
#cart .text button,
#cart .card-horizontal .btn-primary {
  background: var(--primary-color);
}

#cart .thumbnail button,
#cart .text button,
#cart .card-horizontal .btn-secondary {
  background: var(--secondary-color);
}

#cart .text .btn-container-box .btn-primary {
  /* width: 50%; */
}

#cart .text .btn-container-box .btn-secondary {
  margin-left: 0.5rem;
  /* width: 50%; */
}

#cart .checkout .text {
  align-items: flex-start;
  box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 10%);
  border-radius: 0.5rem;
  padding: 1rem;
  height: max-content;
}

#cart .checkout .text .hr-line {
  width: 100%;
  height: 0.05rem;
  background-color: #d1d5db;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#cart .checkout .text .text-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#cart .checkout .text .text-header .text-color {
  color: #03a685;
}

#cart .checkout .text .text-header .total-amount {
  font-size: 1.2rem;
}

#cart .checkout .btn-primary {
  background-color: var(--primary-color);
}

#cart .checkout .btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

#cart .checkout .btn-box .btn {
  width: 100%;
}

/* wishlist */
#wishlist .content , #empty-wishlist .content {
  grid-column: 1 / -1;
  padding-left: 0rem;
  margin-left: 3rem;
}

#wishlist main , #empty-wishlist main {
  /* border: 2px solid #fff; */
  flex-direction: column;
  justify-content: space-between;
  /* width: 70rem; */
  align-items: flex-start;
  padding: 0rem 0rem;
}

#wishlist .wishHeader {
  /* width: 70%; */
  height: 3rem;
  display: flex;
  justify-content: center;
  margin-left: 6rem;
  margin-right: auto;
  align-items: center;
  padding: 0.8rem;
  /* border: 0.01rem solid var(--primary-color); */
  margin-bottom: 2rem;
  box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 10%);
  border-radius: 0.5rem;
  padding: 1rem;
}

#wishlist .wishlistItems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#wishlist .wishlistItems #card {
  margin-left: 3rem;
  box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 10%);
  border-radius: 0.5rem;
  padding: 1rem;
}

#wishlist .wishlistItems #card .wish {
  right: 0rem;
}

/* empty wishlist */

.wish-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#empty-wishlist .content{
  margin-left: 0rem;
}

#empty-wishlist .empty-wishlist-card{
  box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 10%);
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#empty-wishlist .empty-wishlist-card p{
  padding-top: 1rem;
}

#empty-wishlist .empty-wishlist-card img{
  padding-top: 1rem;
  width: 100%;
  max-width: 20rem;
  padding-bottom: 1rem;
}

#empty-wishlist .empty-wishlist-card .btn{
  border-radius: 1rem;
  /* width: 14rem; */
}