@import url("https://rhythmui.netlify.app/styles.css");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#navbar .avatar-large {
  width: 3rem;
}

#navbar .cart .badge-avatar-large-icons {
  height: 1.4rem;
  width: 1.4rem;
  padding: 0.5rem;
  border: 0rem solid var(--badge-white-color);
}

#navbar .avatar-badge-icons-cart {
  position: absolute;
  top: 2.3rem;
  right: 0.7rem;
}

#navbar .badge-red {
  background-color: var(--badge-white-color);
  color: var(--header-link-color);
}

#navbar .avatar-small {
  height: 2.5rem;
  width: 2.5rem;
}

/* sidebar */
#side-bar .checkbox {
  width: 1rem;
  height: 1rem;
  border: 1px solid #c3c2c9;
  background: #fff;
  border-radius: 1px;
  margin-right: 0.8rem;
}

 .side-bar {
  top: 10rem;
  min-height: 100%;
}

#side-bar ul {
  padding: 0rem;
}

#side-bar ul > li label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#side-bar .side-bar-box {
  /* background-color: var(--primary-color); */
  width: 15rem;
  height: 3rem;
  position: fixed;
  top: 7rem;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  border: 0.01rem solid var(--primary-color);
}



#side-bar .side-bar-box .btn {
  padding: 0rem;
  letter-spacing: 0;
}

#side-bar .side-bar-box .bg-red {
  background-color: var(--badge-white-color);
  color: #7c3aed;
}

#side-bar .side-bar-box .bg-red:focus {
  background: none;
}

/* main */



.content .sort{
  position: absolute;
  top: 1.6rem;
  right: 3rem;
}

/* sort */
.content .search-container > div {
  padding: 0.5rem 0.5rem;
}


.content .search-box{
  width: 17rem;
}

.content .search-box span {
  margin-left: 0.4rem;
}

.content .search-box select {
  background: url('./images/dropdown.svg') no-repeat right;
    -webkit-appearance: none;
}


.content .search-box select{
  width:11rem;
  padding: 0.3rem;
  font-size: inherit;
  border : none;
  outline: none;
  background-color: inherit;
  font-weight: bold;
}

/* .content .search-box select > option {
  padding: 3rem;
  width: 15rem;
  background-color: #7c3aed;
} */  


.content .products{
  position: relative;
  top: 4.5rem;
}


#card .btn{
  width : 100%;
}